<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524754847129-74vqen0rii4kp4oj9uhe2io4mhdropkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524754847129-74vqen0rii4kp4oj9uhe2io4mhdropkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCfiTzLzh2A2GELlj-lf0HkD8W2l_oOxi4</string>
	<key>GCM_SENDER_ID</key>
	<string>524754847129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hoopInsight</string>
	<key>PROJECT_ID</key>
	<string>hoop-insight-112ba</string>
	<key>STORAGE_BUCKET</key>
	<string>hoop-insight-112ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524754847129:ios:fd5df0a0a318c159953f08</string>
</dict>
</plist>